$point-color: #84c400;

body {
  background-color: #333;
}
.wrap {
  width: 100%;
  position: relative;
}

/* (접근성을 위한 텍스트 숨김 처리) */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
#header {
  padding: 14px 18px;
  color: #fff;
  font-size: 17px;
  background-color: #222;
}

.my-video-style {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border:none;

  .jp-gui, .jpback {
    display: none;
  }

  .jp-jplayer{
    width: 100% !important;

    img{
      width: 100% !important;
      height: auto !important;
    }

    video{
      width: 100% !important;
      height: auto !important;
    }
  }
  
  .jp-video {
    *:focus {
      outline: none;
    }
  
    button:-moz-focus-inner {
      border: 0;
    }
  }
  
  .jp-controls button {
    display: block;
    overflow: hidden;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .jp_poster_0 {
    width: 100%;
  }
  
  .jp-video {
    position: absolute;
    width: 1280px;
    height: 720px;
    font-size: 12px;
  }
  
  .jp-interface {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 4px 0;
    background: rgba($color: #000000, $alpha: 0.7);
  }
  
  .jp-controls-holder {
    display: flex;
    align-items: center;
    padding: 0 40px;
  }
  
  .jp-controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    .controls_left,
    .controls_right {
      display: flex;
      align-items: center;
    }
  }
  
  .jp-play {
    background: url('../images/jplayer/jp_play_btn.png') left top no-repeat;
    background-color: transparent;
    padding: 0;
    width: 18px;
    height: 18px;
    margin: 0 20px 0 0;
  }
  
  &.jp-state-playing .jp-play {
    background: url('../images/jplayer/jp_pause_btn.png') left top no-repeat;
    background-color: transparent;
  }
  
  
  .jp-stop {
    position: relative;
    top: 0px;
    left: 0px;
    width: 38px;
    height: 30px;
    padding: 0;
    background: url('../images/jplayer/jp_stop_btn.png') left top no-repeat;
    background-color: transparent;
  
    &:hover {
      background: url('../images/jplayer/jp_stop_btn_on.png') left top no-repeat;
    }
  }
  
  .jp-current-time {
    display: inline-block;
    cursor: default;
    font-size: 12px;
    color: #fff;
  }
  
  .jp-duration {
    width: auto;
    display: inline-block;
    text-align: left;
    cursor: default;
    font-size: 12px;
    color: #fff;
  }

  .jp-progress {
    position: relative;
    width: 570px;
    margin: 0 14px;
  }
  
  .jp-seek-bar {
    width: 100%;
    height: 10px;
    background: #fff;
    cursor: pointer;
    display: block !important;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .jp-play-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background: $point-color;
    overflow: visible !important;
  }
  
  .jp-mute {
    width: 20px;
    height: 28px;
    background: url('../images/jplayer/jp_vol_btn_on.png') center no-repeat;
    background-color: transparent;
  }
  
  &.jp-state-muted .jp-mute {
    background: url('../images/jplayer/jp_vol_btn_off.png') center no-repeat;
    background-color: transparent;
  }
  
  .jp-volume-controls {
    position: relative;
    display: flex;
    align-items: center;
  }

  .jp-volume-controls button {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    flex-shrink: 0;
  }

  .jp-full-screen {
    width: 63px;
    height: 17px;
    background: url('../images/jplayer/jp_speed_img.png') -114px 0px no-repeat;
  }
  
  .play {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -102px;
  }

  .video_play_button {
    width: 50px;
    height: 50px;
    background: url(../images/jplayer/play-button.png) center no-repeat;
    background-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    pointer-events: none;
  }
  &.jp-state-playing .video_play_button {
    display: none;
  }
}

/* 미디어쿼리 */
/* 타블렛 */
@media all and (max-width: 1024px) { 
  .my-video-style {
    .jp-controls-holder {
      padding: 0 10px;
    }
    .jp-play{
      margin: 0 10px 0 0;
    }
    .jp-progress {
      width: 100%;
    }
    .jp-volume-bar {
      display: none !important;
    }
    .paging {
      margin-left: 10px;

      .page_text {
        font-size: 14px;
      }
      .pageCurrent {
        font-size: 16px;
      }
    }
  }
} 

  /* 페이징 */
  .paging {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    margin-top: 20px;
    strong {
      font-weight: 600;
    }
    .pageCurrent {
      color: $point-color;
    }
    .pageBtn {
      display: inline-block;
      margin: 0;
      border: 0;
      background-color: #111;
      color: #fff;
      padding: 10px 24px;
      border-radius: 30px;
      font-size: 14px;
    }
    .page_text {
      margin: 0 10px;
      font-size: 18px;
    }
    .nextClick {
      position: absolute;
      bottom: 45px;
      right: 16px;
      display: none;
    }
    .next_button {
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      background-color: rgb(0 0 0 / 70%);
      padding: 10px 17px;
      font-weight: bold;
      border-radius: 500px;
      line-height: normal;
    } 
  }