@charset "UTF-8";
body {
  background-color: #000;
}

.wrap {
  width: 100%;
  position: relative;
}

/* (접근성을 위한 텍스트 숨김 처리) */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

.my-video-style {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border: none;
  /* 스피드 */
  /* 페이징 */
}
.my-video-style .jp-gui, .my-video-style .jpback {
  display: none;
}
.my-video-style .jp-jplayer {
  width: 100% !important;
}
.my-video-style .jp-jplayer img {
  width: 100% !important;
  height: auto !important;
}
.my-video-style .jp-jplayer video {
  width: 100% !important;
}
.my-video-style .jp-video *:focus {
  outline: none;
}
.my-video-style .jp-video button:-moz-focus-inner {
  border: 0;
}
.my-video-style .jp-controls button {
  display: block;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
.my-video-style .jp_poster_0 {
  width: 100%;
}
.my-video-style .jp-video {
  position: absolute;
  width: 1280px;
  height: 720px;
  font-size: 12px;
}
.my-video-style .jp-interface {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 4px 0;
  background: rgba(0, 0, 0, 0.7);
}
.my-video-style .jp-controls-holder {
  display: flex;
  align-items: center;
  padding: 0 40px;
}
.my-video-style .jp-controls {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.my-video-style .jp-controls .controls_left,
.my-video-style .jp-controls .controls_right {
  display: flex;
  align-items: center;
}
.my-video-style .jp-play {
  background: url("../images/jplayer/jp_play_btn.png") left top no-repeat;
  background-color: transparent;
  padding: 0;
  width: 18px;
  height: 18px;
  margin: 0 20px 0 0;
}
.my-video-style.jp-state-playing .jp-play {
  background: url("../images/jplayer/jp_pause_btn.png") left top no-repeat;
  background-color: transparent;
}
.my-video-style .jp-stop {
  position: relative;
  top: 0px;
  left: 0px;
  width: 38px;
  height: 30px;
  padding: 0;
  background: url("../images/jplayer/jp_stop_btn.png") left top no-repeat;
  background-color: transparent;
}
.my-video-style .jp-stop:hover {
  background: url("../images/jplayer/jp_stop_btn_on.png") left top no-repeat;
}
.my-video-style .jp-replay {
  width: 40px;
  height: 30px;
  padding: 0;
  background: url("../images/jplayer/jp_replay_btn.png") left top no-repeat;
}
.my-video-style .jp-replay:hover {
  background: url("../images/jplayer/jp_replay_btn_on.png") left top no-repeat;
}
.my-video-style .jp-current-time {
  display: inline-block;
  cursor: default;
  font-size: 12px;
  color: #fff;
}
.my-video-style .jp-duration {
  width: auto;
  display: inline-block;
  text-align: left;
  cursor: default;
  font-size: 12px;
  color: #fff;
}
.my-video-style .jp-progress {
  position: relative;
  width: 570px;
  margin: 0 14px;
}
.my-video-style .jp-seek-bar {
  width: 100%;
  height: 10px;
  background: #fff;
  cursor: pointer;
  display: block !important;
  border-radius: 40px;
  overflow: hidden;
}
.my-video-style .jp-play-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background: #84c400;
  overflow: visible !important;
}
.my-video-style .jp-mute {
  width: 20px;
  height: 28px;
  background: url("../images/jplayer/jp_vol_btn_on.png") center no-repeat;
  background-color: transparent;
}
.my-video-style.jp-state-muted .jp-mute {
  background: url("../images/jplayer/jp_vol_btn_off.png") center no-repeat;
  background-color: transparent;
}
.my-video-style .jp-volume-controls {
  position: relative;
  display: flex;
  align-items: center;
}
.my-video-style .jp-volume-bar {
  width: 80px;
  height: 8px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
  border-radius: 8px;
}
.my-video-style .jp-volume-bar-value {
  width: 0px;
  height: 10px;
  background: #84c400;
}
.my-video-style .jp-volume-controls button {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}
.my-video-style .jp-toggles {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.my-video-style .jp-toggles button {
  font-size: 13px;
  color: #fff;
  background: transparent;
  text-indent: unset;
  padding: 0 4px;
}
.my-video-style .jp-speed {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.my-video-style .jp-toggles-text {
  position: absolute;
  left: 0;
  top: 2px;
  display: inline-block;
  color: #fff;
  display: none;
}
.my-video-style .speed.on {
  color: #84c400;
}
.my-video-style .jp-full-screen {
  width: 63px;
  height: 17px;
  background: url("../images/jplayer/jp_speed_img.png") -114px 0px no-repeat;
}
.my-video-style .play {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -102px;
}
.my-video-style .paging {
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 20px;
}
.my-video-style .paging strong {
  font-weight: 600;
}
.my-video-style .paging .pageCurrent {
  font-size: 18px;
  color: #84c400;
}
.my-video-style .paging .pageBtn {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 0 0 0;
}
.my-video-style .paging .pagePrev {
  background: url(../images/jplayer/btn_page_prev.png) left top no-repeat;
}
.my-video-style .paging .pageNext {
  background: url(../images/jplayer/btn_page_next.png) left top no-repeat;
}
.my-video-style .paging .page_text {
  margin: 0 4px;
  font-size: 15px;
}
.my-video-style .paging .nextClick {
  position: absolute;
  bottom: 45px;
  right: 16px;
  display: none;
}
.my-video-style .paging .next_button {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 17px;
  font-weight: bold;
  border-radius: 500px;
  line-height: normal;
}
.my-video-style .repeat_btn {
  background: url(../images/jplayer/jp_replay_btn.png) center no-repeat;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 20px;
  background-size: 34px;
}
.my-video-style .video_play_button {
  width: 100px;
  height: 100px;
  background: url(../images/jplayer/play-button.png) center no-repeat;
  background-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  pointer-events: none;
}
.my-video-style.jp-state-playing .video_play_button {
  display: none;
}

/* 미디어쿼리 */
/* 타블렛 */
@media all and (max-width: 1024px) {
  .my-video-style .jp-controls-holder {
    padding: 0 10px;
  }
  .my-video-style .jp-play {
    margin: 0 10px 0 0;
  }
  .my-video-style .jp-toggles {
    margin-left: 16px;
  }
  .my-video-style .jp-toggles button {
    font-size: 12px;
  }
  .my-video-style .jp-progress {
    width: 300px;
  }
  .my-video-style .jp-volume-bar {
    display: none !important;
  }
  .my-video-style .repeat_btn {
    margin-left: 16px;
  }
  .my-video-style .paging {
    margin-left: 10px;
  }
  .my-video-style .paging .page_text {
    font-size: 14px;
  }
  .my-video-style .paging .pageCurrent {
    font-size: 16px;
  }
}